@mixin company-representative-widget-company-representative-widget-tile($name: '.company-representative-widget-tile') {
    #{$name} {
        --setting-color-icon-color: #189880;
        --setting-color-portal-item-gray: #f5f5f5;
        --grey-darker: #333;

        background: var(--setting-color-portal-item-gray);
        padding: rem(20) rem(16);
        min-height: 100%;

        &__title {
            color: var(--grey-darker);
            font-size: rem(18);
            font-weight: 500;
            line-height: 1.33;
            margin-bottom: rem(12);
        }

        &__list-item {
            display: flex;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: rem(8);
            }
        }

        &__photo {
            width: rem(30);
            height: rem(30);
            border-radius: 100%;
            margin-right: rem(12);
        }

        &__name {
            flex-grow: 1;
        }

        &__icon-link {
            color: var(--setting-color-icon-color);
            margin-left: rem(12);
        }

        &__icon {
            width: rem(24);
            height: rem(24);
        }

        @content;
    }
}

@include company-representative-widget-company-representative-widget-tile;
